// Background
$color__body-background: #fffcf8;
$color__light-background: #fff;
$color__dark-background: #231f20;
$color__whip-background: #f9efe0;
$color__rod-background: #cf8c0b;
$color__linear-background: #f9efe0 linear-gradient(0deg, rgba(207, 140, 11, 0.1), rgba(207, 140, 11, 0.1));
$color__selection-background: #5a768e;
$color__screen-background: #f8f4f0;

// Text
$color__main-text: #231f20;
$color__white-text: #fff;
$color__black-text: #000;
$color__whip-text: #f9efe0;
$color__rod-text: #cf8c0b;
$color__selection-text: #fff;
$color__screen-text: #fff;

// Links
$color__link: #231f20;
$color__link-hover: #cf8c0b;

// Button
$color__button-background: rgba(#cf8c0b, 10%);
$color__button-hover-background: rgba(#cf8c0b, 30%);
$color__button-text: #231f20;
$color__button-hover-text: #231f20;
$color__button-border: #cf8c0b;

// Select
$color__select-background: rgba(#cf8c0b, 10%);

// Input
$color__input-background: rgba(#cf8c0b, 10%);

// Border
$color__input-border: #000;
$color__light-border: #fff;
$color__rod-border: #cf8c0b;
$color__abbr-border: #fff;

// Icons
$color__icon: #1a1a1a;
